[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
watson-developer-cloud = "*"
mistune = "*"
pyinstaller = "*"
"pyqt5" = "*"
"pyqt5-tools" = "*"

[dev-packages]

[requires]
python_version = "3.6"
