<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-light">
    <div class="slimscroll-menu">
        <!--- Sidemenu -->
        <ul class="metismenu side-nav side-nav-light">
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="material-icons">
                        folder
                    </i>
                    <span> Apps </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="apps-calendar.html">Calendar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->